{% extends 'common.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Circonscriptions</title>
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/circonscriptions.css' %}">
  {% endblock %}
</head>
<body>
{% block content %}
  <div class="my-map-filter">
    <form id="my-filter-form" method="get" novalidate enctype="multipart/form-data">
      <div class="row">
        <div class="mb-1 form-group col-md-6" style="padding-right:20px">
          <label for="department_field" class="form-label">{{ form.nom_dep.label }}</label>
          <select class="form-control" id="department_field" name="nom_dep">
            {% for value in possible_department_values %}
              <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-1 form-group col-md-6" style="padding-left:20px">
          <label for="annee_field" class="form-label">{{ form.annee_election.label }}</label>
          <select class="form-control" id="annee_field" name="annee_election">
            <option value=""></option>
            {% for value in possible_annee_values %}
              <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" style="margin-top:10px">Filtrer</button>
    </form>
  </div>
  <div id="circs"></div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/circs.js' %}"></script>
  <script>
    var circsData ={{ possible_circ_values|safe }};
    var decisionData = {{ results|safe }};
    document.addEventListener('DOMContentLoaded', function () {
      initCircsEcharts(circsData, decisionData)
    })
  </script>
{% endblock %}
</body>
</html>