{% extends 'common.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    
  {% endblock %}
</head>
<body>
{% block content %}
  {#  pour navbar #}
  <div class="container my-nav-container">
    <ul class="nav nav-tabs my-nav-ul" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active my-nav-button" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                type="button"
                role="tab" aria-controls="home-tab-pane" aria-selected="true">Introduction
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link my-nav-button" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                type="button"
                role="tab" aria-controls="profile-tab-pane" aria-selected="false">Guide d'utilisation
        </button>
      </li>
    </ul>
  </div>
  {#  pour navbar #}

  {#  pour tabcontainer #}
  <div class="tab-content container my-tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="section-container" id = "intro">
        <h2>Introduction du projet JADE</h2>
        <p>Bienvenue sur la page dédiée au projet "Justice algorithmique des élections" (JADE), une initiative inscrite dans le cadre du projet interdisciplinaire de recherche IDEX JADE. Cette collaboration réunit des experts du Centre de recherches juridiques (CRJ), du Laboratoire Jean Kuntzmann (LJK), du Laboratoire d'informatique de Grenoble (LIG), avec le soutien de PACTE et de la chaire de société algorithmique du MIAI (Multidisciplinary Institute in Artificial Intelligence).<br>
  
          JADE explore l'intersection entre l'intelligence artificielle et le contentieux électoral, appliquant des méthodes de mathématiques appliquées et d'IA au contentieux des élections politiques. Notre objectif est d'améliorer la compréhension du contentieux électoral grâce à la justice algorithmique, facilitant son application par les citoyens, avocats et juges.<br>
          
          Au cœur de la problématique se trouve l'analyse de la sincérité du scrutin, cherchant à déterminer si des irrégularités ont influencé le résultat d'une élection. Adoptant une méthodologie pluridisciplinaire, JADE se distingue par son approche axée sur les usages, redéfinissant ainsi la manière d'aborder le contentieux électoral.<br>
          
          Dans cette optique, le développement de modalités de représentation du corpus est essentiel, simplifiant la démarche hypothético-déductive avec des traitements avancés de données. La création d'une interface interactive vise à faciliter la compréhension et l'analyse des données, offrant une représentation visuelle des informations juridiques complexes.<br>
          
          Nous vous invitons à consulter notre guide d'utilisation pour explorer efficacement notre site et découvrir toutes les fonctionnalités mises à votre disposition.
        </p>
        <p>
          Pour plus de détails sur le projet, veuillez vous référer aux responsables du projet :
          <br>- Romain RAMBAUD : <a href="mailto:romain.rambaud@univ-grenoble-alpes.fr">romain.rambaud@univ-grenoble-alpes.fr</a>
          <br>- Alya HAFSAOUI : <a href="mailto:alya.hafsaoui@univ-grenoble-alpes.fr">alya.hafsaoui@univ-grenoble-alpes.fr</a>
        </p>
        
      </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="section-container" id = "intro">
        <h2>Guide d'utilisateur</h2>
        <p>
          Bienvenue sur la page, structurée en 5 sections principales : Accueil, Tableau, Départements, Circonscriptions et Statistiques.<br>
          <br>
          Explorez le contenu de chaque section :
        </p>
      
        <ul>
          <li>
            <strong>Tableau :</strong><br>
            Cette section présente des données électorales extraites d'un fichier CSV ainsi que du corpus XML. Les colonnes comprennent le numéro de décision, les solutions adoptées, l'indication de l'article 38, la date de la décision, l'année d'élection, le département, les circonscriptions, le nombre de votes exprimés, le nombre de votants, le nombre d'inscrits, l'écart de votes, et des boutons menant aux liens des décisions.
            <br>
            En haut à droite du titre "Tableau des Décisions", un bouton de filtrage vous permet de choisir les critères pour visualiser les données. Vous pouvez filtrer en fonction de la solution, de l'article 38, d'un département spécifique et pour une période donnée (les années présentées sur le système de filtrage sont les années où il y a eu des élections, soit chaque 5 ans). Si vous souhaitez voir les données d’une année spécifique, il suffit de choisir la même année pour le début et la fin de la période. Il est possible de sélectionner plusieurs critères simultanément.
            <br>
            Par exemple, si vous souhaitez visualiser les données du département "Paris" après l'élection de 2007 qui ont été rejetées, vous pouvez le faire en sélectionnant ces critères et en cliquant sur "Valider".
            <br>
            <div class="description-images-container">
              <img src="{% static 'image/ss1.png' %}" alt="Image de description 1" class="description-image">
              <div class="desc-img-cont">
                <img src="{% static 'image/ss2.png' %}" alt="Image de description 2" class="description-image small-image">
                <img src="{% static 'image/ss3.png' %}" alt="Image de description 3" class="description-image small-image">
              </div>
            </div>
          </li>
          
          <li>
            <strong>Départements :</strong><br>
            Cette section offre une visualisation cartographique des décisions, permettant d'explorer la carte de la France et de découvrir les décisions prises dans chaque département en survolant la souris. Vous pouvez appliquer des filtres en choisissant le type de solution et/ou l'indication de l'article 38. La période peut également être spécifiée en sélectionnant le début et la fin de la période, disponible pour chaque année électorale (tous les 5 ans). Vous avez la possibilité d'appliquer plusieurs critères simultanément en cliquant sur le bouton "Filtrer" après avoir fait vos sélections.
            <br>
            De plus, vous pouvez cliquer sur les départements après avoir précisé vos critères et cliqué sur "Filtrer". Cela vous redirigera vers la page du tableau, vous présentant le département que vous avez sélectionné avec les filtres que vous avez précisés. 
            <br>
            Par exemple, si vous souhaitez voir la solution « inéligibilité » entre 1997 et 2017 sur la carte, vous choisissez ces filtres de la manière décrite et cliquez sur "Filtrer". Après avoir sélectionné vos critères, survolez la carte pour voir les détails sur les solutions dans les départements. Si vous souhaitez obtenir plus de détails sur un département spécifique, cliquez simplement sur le département concerné pour être redirigé vers le tableau avec vos critères définis.
            <br>
            <div class="description-images-container">
              <img src="{% static 'image/ss4.png' %}" alt="Image de description 4" class="description-image">
              <div class="desc-img-cont">
                <img src="{% static 'image/ss5.png' %}" alt="Image de description 5" class="description-image small-image">
                <img src="{% static 'image/ss6.png' %}" alt="Image de description 6" class="description-image small-image">
              </div>
            </div>
          </li>
          <li>
            <strong>Circonscriptions :</strong><br>
            Dans cette section, une visualisation graphique sous forme de diagramme illustre les décisions en fonction des circonscriptions des départements. Il vous suffit de choisir le département que vous souhaitez visualiser dans la liste "Départements". Il est également possible de sélectionner une année d'élection spécifique. Il suffit de cliquer sur le bouton "Filtrer" après avoir fait vos sélections.
            <br>
          </li>
          
          <li>
            <strong>Statistiques :</strong><br>
            Dans cette section, vous trouverez deux graphiques différents :
            <ul>
              <li>Évolution du nombre de décisions : un graphique montrant le nombre total de décisions prises depuis 1958.</li>
              <li>Répartition des solutions : un graphique présentant la répartition totale de tous les types de décisions prises.</li>
            </ul>
            Pour plus de détails, survolez ces graphiques avec votre souris.
          </li>
        </ul>
        <p>
          N'hésitez pas à découvrir les fonctionnalités offertes et à plonger dans l'exploration des données électorales pour une compréhension approfondie du contentieux électoral.
        </p>
      </div>
    </div>
  </div>
  {#  pour tabcontainer #}
{% endblock %}

{% block js %}
{% endblock %}
</body>
</html>