* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.row > * {
  padding-left: 0;
  padding-right: 0;
}

#basecontainer {
  height: 100%;
  width: 100%;
  margin: 0;

}

#navigation {
  background-color: #1a92ce;
  text-align: center;
  height: 100%;

}

#logodiv {
  width: 100%;
  background-color: #b0d1f3;
  margin-bottom: 20px;
}

#logotitle {
  display: block;
  line-height: 80px;
  height: 80px;
  font-family: Verdana;
  font-weight: bolder;
  font-size: x-large;
  /*font-family: Lucida Sans Unicode, Verdana;*/
}

#navbar {
  text-align: center;
  margin-top: 10%;
}

.me-3 {
  width: 100%;
}

.nav-link {
  width: 75%;
  margin-left: 18%;
  margin-top: 10%;
  color: #ffffff;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* Ajout de la transition */
}

.nav-link:hover {
  background-color: #007bff; /* Couleur au survol */
  color: #fff;
}

.nav-pills .nav-link.active {
  background-color: rgba(0, 0, 0, .125);
}

#mainContent {
  background-color: #F2F2F2;
  height: 100%;
  overflow: auto;
}

#logopic {
  width: 50%;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#legal-notice a {
  color: #fff;
  text-decoration: none;
  font-size: small;
  transition: color 0.3s ease; /* Ajout de la transition */
}

#legal-notice a:hover {
  color: #007bff; /* Couleur au survol */
}

#navigation {
  position: relative;
}

#v-pills-mentions-tab {
  position: absolute;
  bottom: 3%;
  background-color: transparent;
  border: transparent;
  margin-left: 10%;
}

#v-pills-mentions-tab:hover{
  background-color: #007bff;
}