* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.row > * {
  padding-left: 0;
  padding-right: 0;
}

#basecontainer {
  height: 100%;
  width: 100%;
  margin: 0;
}

#navigation {
  background-color: #006699;
  text-align: center;
  height: 100%;
}

#logodiv {
  width: 100%;
  background-color: #6699CC;
  margin-bottom: 20px;
}

#logotitle {
  display: block;
  line-height: 80px;
  height: 80px;
  font-family:Helvetica;
  font-weight: bolder;
  font-size: larger;
  /*font-family: Lucida Sans Unicode, Verdana;*/
}

#navbar {
  text-align: center;
  margin-top: 10%;
}

.me-3 {
  width: 100%;
}

.nav-link {
  width: 70%;
  margin-left: 18%;
  margin-top: 10%;
  color: #ffffff;
}

.nav-pills .nav-link.active{
  background-color:rgba(0,0,0,.125);
}
#mainContent {
  background-color: #F2F2F2;
  height: 100%;
  overflow: auto;
}

#logopic {
  width: 50%;
}
